{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chai and Django</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <h1>this is about page
  </h1>
  <!-- add your about content here -->
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in delectus repellat omnis necessitatibus assumenda alias earum modi qui error nemo perspiciatis corporis debitis quam, molestiae magni. Laboriosam repellat debitis culpa quos deleniti libero dolor at doloribus veritatis repellendus dolorum dicta dolorem, earum a, totam quaerat eligendi facilis necessitatibus numquam, eaque dolore rem blanditiis? Dolore culpa rerum aut, assumenda excepturi sunt officiis provident quo ullam quam quas tempora quisquam, omnis corporis odio. Quod corrupti maiores beatae, architecto consequuntur temporibus illum iusto laudantium perspiciatis, ipsam iste minima, possimus quisquam tempora voluptates optio? Veritatis ad quidem earum dicta ex, alias quae dolorem.</p>

</body>
</html>

