{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chai and Django</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <h1>this is login page</h1>
  <!-- add your login form here -->
   <form action="{% url 'login' %}">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Login">
  </form>
</body>
</html>

